{% extends 'base.html' %}
{% load static %}
{% block title %} Delivery and payment {{ block.super }}{% endblock title %}

{% block content %}

    <section class="delivery-and-payment mb-5">
        <div class="container">
            <h3 class="text-center font-weight-bold">Delivery and payment</h3>
            <hr>
            {% if delivery_and_payment %}
                <div class="row">
                    <div class="col col-12 mb-4">
                        <p>{{ delivery_and_payment.description|safe }}</p>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col col-12 mb-4">
                        <hr>
                        <h5 class="text-center">No Delivery and payment Data Available!</h5>
                    </div>
                </div>
            {% endif %}
        </div>
        <br>
    </section>

{% endblock content %}