{% extends 'base.html' %}
{% load embed_video_tags %}
{% load static %}
{% block title %} How to bye {{ block.super }} {% endblock title %}


{% block content %}

    <section class="delivery-and-payment mb-5">
        <div class="container">
            <h2 class="text-center">How to Bye</h2>
            <hr>
            <div class="row">
                {% if videos %}
                    {% for v in videos %}
                        <div class="col-sm-12 col-md-6 col-lg-6 col-lg-6 mb-4">
                            <div class="card">
                                <div class="cord-body">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        {% video v.video as my %}
                                            <iframe width="853" height="480" src="{{ my.url }}" frameborder="0"
                                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                        {% endvideo %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-4">
                        <p class="text-center">No videos Found</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>



{% endblock content %}