{% extends 'base.html' %}

{% block title %}Return Policy {{ block.super }}{% endblock %}

{% block content %}

    <section class="return-policy mb-5">
        <div class="container">
            <h3 class="text-center font-weight-bold">Return Policy</h3>
            <hr>
            {% if return_policy %}
                <div class="row">
                    <div class="col col-12 mb-4">
                        <p>{{ return_policy.description|safe }}</p>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col col-12 mb-4">
                        <hr>
                        <h5 class="text-center">No Returns, Return Policy Data Available!</h5>
                    </div>
                </div>
            {% endif %}
        </div>
        <br>
    </section>


{% endblock content %}

