{% extends 'base.html' %}

{% block title %}Security Privacy {{ block.super }}{% endblock %}

{% block content %}

    <section class="security-privacy mb-5">
        <div class="container">
            <h3 class="text-center font-weight-bold">Security & Privacy</h3>
            <hr>
            {% if security_privacy %}
                <div class="row">
                    <div class="col col-12 mb-4">
                        <p>{{ security_privacy.description|safe }}</p>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col col-12 mb-4">
                        <hr>
                        <h5 class="text-center">No Security Privacy Data Available!</h5>
                    </div>
                </div>
            {% endif %}
        </div>
        <br>
    </section>


{% endblock content %}
